<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
    </head>

    <body>
        <main class="container">
            {% include header.html %}
            
            <div class="presenter">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                    <p><mark>{{ page.subtitle }}</mark></p>  
                {% endif %}      
            </div>

            {{ content }}
        </main>
    </body>
</html>