---
title: Stanislav (Stas) Katkov personal website.
---

<pre>

      _         _   _
     | |       | | | |                                
  ___| | ____ _| |_| | _______   _____ ___  _ __ ___  
 / __| |/ / _` | __| |/ / _ \ \ / / __/ _ \| '_ ` _ \ 
 \__ \   < (_| | |_|   < (_) \ V / (_| (_) | | | | | |
 |___/_|\_\__,_|\__|_|\_\___/ \_(_)___\___/|_| |_| |_|
                                 


HEY, VISITOR!
  
  My name is Stanislav Katkov. But you can call me - 
  Stas. I hope you'll leave comment in my guestbook...
  just joking.

  I managed to do a lot of different things in my life. 
  At times it feels like I'm looking for something, yeat 
  I don't feel that I'm lost.

CARRIER

  I like to tinker with things -- mostly it's software.
  
  There is a curvy footpath of my involved in different
  aspects of creating software professionally. Traces of
  my activities can be found here:

  - <a href="https://angel.co/skatkov">angel.co/skatkov</a>
  - <a href="https://github.com/skatkov">github.com/skatkov</a>
  - <a href="https://www.upwork.com/o/profiles/users/_~0132f0b04d803f9c84/">upwork.com/skatkov</a>
  - <a href="https://dev.to/skatkov">dev.to/skatkov</a>
  - <a href="https://habr.com/ru/users/lunaticman/posts/">habr.com/lunaticman</a>

NO-OFFICE

  In search for productivity improvements I abandoned 
  grey walls and cubicles to find them completely unnaceptable
  for productive work.

  I managed to fight introversion and speak at Devclub about
  digital nomad journey and transition from freelancer 
  to remote CTO that I had. Unfortunately, everything
  is in Russian.
  
  - <a href="https://www.youtube.com/watch?v=zaqZYDFm7Wo">Дигитальные Номады</a>
  - <a href="https://www.youtube.com/watch?v=0dXJQ3gQKDU">Страшная правда о работающих удалённо фирмах</a>

SKYLUP

  I manage multiple bootstrapped side-projects. And I'm
  blessed with friends that help me with it.

  <a href="https://www.ashop.co">ASHOP.CO</a>: 
    Effortless Amazon Associate Stores
  <a href="https://fbacatalog.com">FBACATALOG.COM</a>: 
    Software catalog for Amazon Sellers
  <a href="htttps://fbamonthly.com">FBAMONTHLY.COM</a>: 
    Curated newsletter for Amazon Sellers


CONTACT

  I have a strange love/hate relationship with email.
  But feel free to reach me at <a href="https://www.twitter.com/5katkov">twitter.com/5katkov</a>
</pre>