---
title: Stanislav Katkov personal website.
---

<pre>

      _         _   _
     | |       | | | |                                
  ___| | ____ _| |_| | _______   _____ ___  _ __ ___  
 / __| |/ / _` | __| |/ / _ \ \ / / __/ _ \| '_ ` _ \ 
 \__ \   < (_| | |_|   < (_) \ V / (_| (_) | | | | | |
 |___/_|\_\__,_|\__|_|\_\___/ \_(_)___\___/|_| |_| |_|
                                                      


WELCOME
  
  This is a personal page of Stanislav Katkov.

  I hope you'll leave comment in my guestbook...
  just joking.

  To make it short, here are some facts about me:
  
  CITIZEN OF EARTH: polish name, russian family name,
    estonian passport, home in Thailand, business 
    in Hong Kong...

  ENGINEERING MINDED: got my hands dirty with stuff -
    testing frameworks, electricity automation, mobile 
    apps, mobile operation systems, software for cars... 
    but ended up doing a lot of ruby and web development.
  
  BUSINESS ORIENTED: I started bunch of them. I helped
    other businesses. I'm still in the business...

WORK WITH ME

  Hands-on development manager and developer with 
  more than 12 years of experience.If you have a 
  project that you need to take to the next level 
  or it has growth problems ( scaling issues, increased 
  cost of changes or high bug rate) then we should talk. 
  My versatile experience in IT industry helps me attack 
  problems from different angles and find most effective 
  solutions.

SKYLUP

  I love helping businesses, so I help out Amazon Sellers as well.

  - <a href="https://www.ashop.co">ASHOP.CO</a>: Effortless microsites for Amazon Sellers
  - <a href="https://fbacatalog.com">FBACATALOG.COM</a>: Software catalog for Amazon Sellers
  - <a href="htttps://fbamonthly.com">FBAMONTHLY.COM</a>: Curated newsletter for Amazon Sellers


SOCIAL

    - <a href="https://www.twitter.com/5katkov">twitter.com/5katkov</a>
    - <a href="https://github.com/skatkov">github.com/skatkov</a>
    - <a href="https://dev.to/skatkov">dev.to/skatkov</a>
</pre>