---
title: Stanislav Katkov personal website.
---

<pre>

      _         _   _
     | |       | | | |                                
  ___| | ____ _| |_| | _______   _____ ___  _ __ ___  
 / __| |/ / _` | __| |/ / _ \ \ / / __/ _ \| '_ ` _ \ 
 \__ \   < (_| | |_|   < (_) \ V / (_| (_) | | | | | |
 |___/_|\_\__,_|\__|_|\_\___/ \_(_)___\___/|_| |_| |_|
                                 


WELCOME
  
  This is a personal page of Stanislav Katkov.

  I hope you'll leave comment in my guestbook...
  just joking.

  To make it short, here are some facts about me:
  
  CITIZEN OF EARTH: polish name, russian family name,
    estonian passport, home in Thailand, business 
    in Hong Kong...

  ENGINEERING MINDED: got my hands dirty with stuff -
    testing frameworks, electricity automation, mobile 
    apps, mobile operation systems, software for cars... 
    but ended up doing a lot of ruby and web development.
  
  BUSINESS ORIENTED: I started bunch of them. I helped
    other businesses. Still doing it ...

WORK WITH ME

  Hands-on project development lead and developer with 
  more than 12 years in the field. Versatile experience
  in industry: CTO, team lead, developer, qa automation.

  Have a project that you need to take to the next level? 
  Having growth problems - scaling, increased cost of 
  changes or high bug rate?

  we should talk!

SKYLUP

  I'm a founder of productized company called Skylup and
  we bootstrap a bunch of projects.

  - <a href="https://www.ashop.co">ASHOP.CO</a>: Effortless microsites for Amazon Sellers
  - <a href="https://fbacatalog.com">FBACATALOG.COM</a>: Software catalog for Amazon Sellers
  - <a href="htttps://fbamonthly.com">FBAMONTHLY.COM</a>: Curated newsletter for Amazon Sellers


SOCIAL

    - <a href="https://angel.co/skatkov">https://angel.co/skatkov</a>
    - <a href="https://www.twitter.com/5katkov">twitter.com/5katkov</a>
    - <a href="https://github.com/skatkov">github.com/skatkov</a>
    - <a href="https://dev.to/skatkov">dev.to/skatkov</a>
</pre>